/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** {
    outline: 1px solid #CE0000;
}*/

*,*::before,*::after {
    box-sizing: border-box;
}

body {
    background: #000;
}

.wrap {
    max-width: 1296px;/*響應式*/
    margin: 0 auto;
    font-family: 'Noto Sans TC', sans-serif;
    color: #F2F2F2;
}
@media (max-width: 768px){
    .wrap {
        max-width: 95%;
    }
}
.header_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
}
@media (max-width: 768px){
    .header_logo {
        padding: 0;
    }
}

.header_logo img{
    max-width: 100%;
    height: auto;
}
.logo {
    width: 188px;
}

@media (max-width: 767px){
    .logo{
        padding: 28px 0;          
    }
}
.navbar_btn{
    cursor: pointer;/*指標變手指*/
    background-color: transparent;/*背景變透明*/
    border: 0;/*不要有外框*/
    color: #FFFFFF;
    display: none;/*電腦版時隱藏btn*/
}
.navbar_btn:hover{
    transform: scale(1.1);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;/*sever不要設 3個表格會不能對齊*/
}
@media (max-width: 767px){
    .navbar_btn{/*顯現btn*/
        display: block;
    }
    .navbar{/*隱藏首頁與定價*/
        display: none;
    }
}
.navbar li {
    margin-left: 20px;
}
.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
}
.slogan {
    font-size: 120px;
    font-weight: 900;
    line-height: 120%;
    margin: 40px 0;
}
@media (max-width: 767px){
    .slogan{
        font-size: 48px;   
    }
}
.button {
    width: 160px;
    color: #fff;
    display: block;
    text-align: center;
    text-decoration: none;
    /*width: 80px;*/
    border: 1px solid #fff;
    border-radius: 16px;
    margin-bottom: 124px;
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 900;
    line-height: 120%;    
}
@media (max-width: 767px){
    .button{
        margin-bottom: 180px;
    }
}
.button:hover{
    background: #fff;
    color: #000;
}
.grass {
    display: flex;
    justify-content: flex-end;
}
.grass img {
    width: 540px;
}
@media (max-width: 767px){
    .grass img{
        max-width: 100%;
    }
}

/*我們的服務*/
.container, .container_service{
    margin-bottom: 160px;
}
@media (max-width: 767px){
    .container, .container_service{
        margin-bottom: 120px;
    }
}

.service {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 900;
}
@media (max-width: 767px){
    .service{
        flex-direction: column;
    }
}
.service h2{
    width: 32%;
    /*width: 414px;*/
    font-size: 32px;
    line-height: 120%;    
    font-weight: 900;
}
@media (max-width: 767px){
    .service h2{
        font-size: 20px;
        margin-bottom: 24px;
    }
}

.service p{
    width: 66%;
    /*width: 856px;*/
    font-size: 48px;
    padding-bottom: 80px;
    line-height: 120%;
    font-weight: 900;  
}
@media (max-width: 767px){
    .service p{
        font-size: 32px;
        width: 100%;
        padding-bottom: 48px;
    }
}

.service_features{
    display: flex;
    justify-content: space-between;    
}
@media (max-width: 767px){
    .service_features{
        flex-direction: column;
        gap: 12px;
    }
}

.features {
    width: 32%;
    display: flex;
    flex-direction: column;
    border: 1px solid #525252;
    border-radius: 15px;
    padding: 40px;   
}
@media (max-width: 767px){
    .features{
        width: 100%;
        padding: 0 20px;/*上下,左右*/
    }
}

.features span {
    /*width: 30px;*/
    font-size: 63px;
}
.features_text, .partner h2{
    font-size: 32px;
    margin: 20px 0;
    font-weight: 900;
    line-height: 120%;
}
@media (max-width: 767px){
    .partner h2{
        font-size: 20px;
    }
}

.features_text p{
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: #F2F2F2;
    margin-top: 20px;
}

/*來自夥伴+廠商logo*/
.partner h2{
    margin-bottom: 80px;    
}
@media (max-width: 767px){
    .partner h2{
        margin-bottom: 24px;
    }
}

.partner_firm {
    display: flex;
    gap: 20px;
    position: relative;
    overflow: hidden;/*隱藏超出的文字或圖片*/
    justify-content: center;     
    /*background-size: cover;/*cover>背景圖不變形,寬高等,必要時局部裁切
    background-repeat: repeat;/*圖片水平重複且會被裁切*/        
}
@media (max-width: 767px){
    .partner_firm{
        gap: 17px;
    }
}

/*背景遮罩+漸層效果*/ 
.partner_firm::before{
    content: ""; 
    width: 196px;
    height: 40px;
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(255,255,255,0) 100%);
    position: absolute;
    left: 0;/*靠左*/
    top: 0;
}
.partner_firm::after{
    content: ""; 
    width: 196px;
    height: 40px;
    background: linear-gradient(to left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 25%, rgba(255,255,255,0) 100%);
    position: absolute;
    right: 0;/*靠右*/
    top: 0;   
}
.partner_firm img{
    width: 160px;
    height: 40px;   
}

/*評論星星區*/
.recommentul{
    display: flex;
    justify-content: space-between;
    margin: 160px 0;
}
@media (max-width: 767px){
    .recommentul{
        margin: 48px 0 156px;
        flex-direction: column;
    }
}

.comment{
    width: 32%;
    /*height: 400px;*/
    display: flex;
    flex-direction: column;
    /*border: 1px solid #191919;*/
    background: #191919;
    color: #F2F2F2;
    border-radius: 15px;
    padding: 40px;
}
@media (max-width: 767px){
    .comment{
        width: 100%;
        padding: 20px;
    }
    .dspnone{
        display: none;/*讓另外兩張卡不見*/
    }
}

.star{
    display: flex;
    margin-bottom: 22px;  
}
.star span{
    font-size: 13px;
    margin-right: 6px;
}
.comment_text{
    /*max-width: 336px;*/
    /*height: 215px;*/
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    padding-bottom: 60px;
    margin-bottom: auto;
}
@media (max-width: 767px){
    .comment_text{
        padding-bottom: 0;
    }
}

.recommender{
    display: flex;
    align-items: center;
    margin-top: 21px;
}
.recommender img{
    width: 48px;
    margin-right: 16px;
}
.recommender_text span{
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;    
}
.recommender_text p{
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;   
}
/*設隱藏滾輪*/
.scroll{
    display: flex;
    justify-content: center;

}
@media (max-width: 767px){
    .scroll{
        margin-top: 24px;
    }
    .scroll li{
        width: 12px;
        height: 12px;
        border-radius: 50%;/*圓形*/
        margin-right: 8px;
        background: #525252;
    }
} 
@media (max-width: 767px){
    .scroll .theone{
        background: #ffffff;
    }
} 

/*以下網頁外框寬度為1920px 背景白的部分*/
.container_main{
    background: #ffffff;
    border-radius: 160px;
    padding-top: 160px;
}
@media (max-width: 767px){
    .container_main{
        border-radius: 20px;
        padding-top: 80px;
    }
}

.main{
    max-width: 1296px;
    margin: 0 auto;
    font-family: 'Noto Sans TC', sans-serif;
}
@media (max-width: 768px){
    .main {
        max-width: 95%;
    }
}

.main h2{
    font-size: 80px;
    line-height: 120%;
    font-weight: 900;
    text-align: center;
    color: #020202;
    margin-bottom: 80px;
}
@media (max-width: 767px){
    .main h2{
        font-size: 32px;
        margin-bottom: 32px;
    }    
}

.search{
    background: #F2F2F2;
    border-radius: 16px;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    margin-bottom: 24px;
}
@media (max-width: 767px){
    .search{
        margin-bottom: 16px;
    }
}

.search_bar{
    width: 118px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: #919191;
    background: #F2F2F2;
    border: none;/*邊框線-支援圓角設定*/
    outline: none;/*外框線-用於表單*/
}
.search .material-icons{
    color: #919191;
    margin-right: 15px;
}
.function{
    display: flex;
    justify-content: space-between;
    align-content: center;
    white-space: nowrap;
}
@media (max-width: 767px){
    .function{
        flex-wrap: wrap;
    }
}

.filiter{
    display: flex;
    align-items: center;
    padding: 20px 34px 20px 40px;/*上右下左*/
    border: 1px solid #F2F2F2;
    border-radius: 16px;    
}
.filiter_but{
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: #000;
    margin-right: 15px;
}
.filiter .material-icons{
    font-size: 15px;
    text-decoration: none;
    color: #000;
}
.function_menu{
    display: flex;
    align-items: center;
    overflow-x: auto;
    /*justify-content: center;*/
    /*white-space: nowrap;*/
    /*padding-right: 40px;調位置*/   
}
@media (max-width: 767px){
    .function_menu{
        margin: 0 auto;
        margin-top: 16px;
        /*justify-content: start;*/
    }   
}

.menu_item{
    display: flex;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    margin-right: 10px; 
    color: #919191;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: 400;
}
.function_menu .menu_but {
    background: #F2F2F2;
    border-radius: 16px;
    color: #000;
    font-weight: 700;
    /*padding: 8px 16px;*/
    /*padding: 10px 0px 10px 0px;/*上右下左*/  
}
.menu_item:active, .menu_item:hover{
    background: #F2F2F2;
    border-radius: 16px;
    color: #000;
    font-weight: 700;  
}
.filiter_list{
    display: flex;
    align-items: center;
    padding: 20px 36px 20px 40px;/*上右下左*/
    border: 1px solid #F2F2F2;
    border-radius: 16px;
}
@media (max-width: 767px){
    .filiter{
        order: 1;
    }
    .function_menu{
        order: 3;
    }
    .filiter_list{
        order: 2;
    }
}

.list_but{
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    text-align: center;
    color: #020202;
    text-decoration: none;
    margin-right: 15px;
}
.filiter_list .material-icons{
    font-size: 10px;
    text-decoration: none;
    color: #000;
}

/*卡片區*/
.tools{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    padding: 40px 0px;/* 250px 0;*/
}
@media (max-width: 767px){
    .tools{
        padding: 48px 0 32px;
        flex-direction: column;
        gap: 12px;
    }
}

.card{
    width: 32%;
    /*width: 416px;*/
    border-radius: 16px;/*圓角度數設定*/
    border: 1px solid #F2F2F2;
    /*margin-bottom: 24px;*/
    overflow: hidden;/*自動隱藏超出的文字或圖片*/
    display: flex;
    flex-direction: column;/*這邊要用df才能讓magin:auto出現效果*/
}
@media (max-width: 767px){
    .card{
        width: 100%;
    }
}

.ovher{
    overflow: hidden;/*圖片外要設div才能把溢出來的圖片藏起來*/
}
.ovher img{
    width: 100%;/*改100%就不用調整高寬*/
}
.ovher img:hover{
    transform: scale(1.1);
    transition: all 1s
}
.card h3{
    font-size: 20px;
    font-weight: bold;
    line-height: 120%;
}
.card p{
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    
}
.item, .item2{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: 1px solid #F2F2F2;
    /*padding: 20px 32px;*/
}
.item p,span, .item2 p{
    font-size: 16px;
    line-height: 150%; 
}
.item p{
    font-weight: 700;
}
.item2 p,.item span{
    font-weight: 400;
}
.item2 .material-icons{
    text-decoration: none;
    color: #000;
}
.page{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: 162px;
    gap: 4px;
}
@media (max-width: 767px){
    .page{
        padding-bottom: 80px;
    }
}

.page_nb, .page_icons{/*下display flex將a標籤佔滿眶內*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 150%;
    font-weight: 700;
    padding: 12px;
    width: 48px;
    text-decoration: none;
    color: #000;  
}
.page_but{
    background: #000;
    color: #F2F2F2;
    border-radius: 16px;
}
.page_nb:hover, .page_nb:active{
    background: #000;
    color: #F2F2F2;
    border-radius: 16px;
}

/*底部*/
.container_footer{
    max-width: 1296px;
    margin: 0 auto;
    font-family: 'Noto Sans TC', sans-serif;
    color: #F2F2F2;
    padding: 80px 0 8px;
}
@media (max-width: 768px){
    .container_footer {
        max-width: 95%;
        padding: 40px 0 8px;
    }
}

.footer_sever{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 80px 0px;
    border-bottom: 1px solid #fff;
}
@media (max-width: 767px){
    .footer_sever{
        padding: 120px 0;
        gap: 32px;
        
    }

}
.footer_sever h2{
    color: #FFFFFF;  
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    /*padding: 80px 0 40px;*/
}
@media (max-width: 767px){
    .footer_sever h2{
        font-size: 32px;
        text-align: center;
        width: 50%;
    }
}
.footer_buttons{
    color: #F2F2F2;
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 16px;
    padding: 20px 40px;    
    font-size: 20px;
    font-weight: 900;
    line-height: 120%; 
}
.footer_sever .material-icons{
    margin-left: 12px;
    font-size: 15px;
   
}
.footer_buttons:hover{
    background: #F2F2F2;
    color: #000;
}
.footer_nav{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    border-bottom: 1px solid #fff;
}
@media (max-width: 767px){
    .footer_nav{
        flex-direction: column-reverse;
    }
}

.nav_item{
    display: flex;
    flex-direction: column;
}
.nav_item a{
    font-size: 80px;
    font-weight: 900;
    line-height: 120%;
    text-decoration: none;
    color: #FFFFFF;
}
.nav_item a:hover{
    color: #f0a76ad7;
    /*background: #fff;*/
}
.footer_nav img{
    max-width: 188px;
}
@media (max-width: 767px){
    .mabt_media{
        margin-bottom: 40px;
    }
    .nav_item a{
        font-size: 48px;
    }
}

.footer{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    margin: 32px 0;
}
@media (max-width: 767px){
    .footer{
        flex-wrap: wrap;
        /*flex-direction: column;*/
    }
}

.community{
    display: flex;
    margin-right: auto;/*可靠左*/   
}
.community_item{
    display: flex;
    margin-right: 20px;   
}
.community_item a, .copyright span, .bktop{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
}
.community a:hover{
    color: rgb(54, 123, 227);
}
.bktop:hover{
    color: rgb(247, 42, 42);
}
.copyright{/*修*/
    display: flex;
    gap: 100px;
}
@media (max-width: 767px){
    .copyright{
        flex-direction: column;
        gap: 36px;
    }
}

.footer .bktop .material-icons{
    font-size: 10px;
    margin-left: 14px;
}


/*margin調整*/
.mat_46 {
    margin-top: 46px;
}
.mab_auto {
    margin-bottom: auto;/*設定後會將item以後的往下推,變成像P段落有兩行字數的同等高*/
}
.ma_b{
    margin-bottom: 12px;
}
.pa_L{
    padding: 20px 32px;/*上下,左右*/
}
/*字體顏色*/
.c_g{
    color: #525252;
}




